@import "./variables.scss";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card_event {
    width: 800px;
    background: #fff;
    margin: 1em auto;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(118,118,120,0.2);
}
.add_button{
    border-radius: 20px;
}
