@import "./variables.scss";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em;
    form {
        width: 300px;
        height: 300px;
    }
    h2{
        text-align: center;
    }
}
