@import "./variables.scss";


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.commentaire{
    display: block;
}
.card_evenement{
    width: 800px;
    background: #FFEAA7;
    height: 150px;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(118,118,120,0.2);
}
.date{
    margin-left: 10px;
    p{
        font-weight: bold;
    }
}
.edit-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.separ{
    margin: 10px;
}


@media screen and (max-width: 780px) {
    .card_evenement{
        width: 300px;
        background: #FFEAA7;
        height: 150px;
        margin: 0.5em auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(118,118,120,0.2);
    }
    

}