@import "./variables.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title{
    text-align: center;
    margin-top: 10px;

}
.grid-container{
    width: 75%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.photo{
    height: 300px;
    padding: 8px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.actualite{
    width: 75%;
    height: fit-content;
    background-color: $color-jaune;
    padding: .4rem;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    .boton-plus, p{
        margin-left: 10px;
        vertical-align: middle;
        align-self: center;
        // font-size: 10px; pour mobile
        
    }
   
}

.information {
    width: 50%;
    border-radius: 10px;
    margin: 2rem auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    ul {
        list-style-type: none;
        text-align: center;
        margin: auto;
    }
    ul li {
        padding: 20px;
    }
}

