@import "./variables.scss";

.container{
    width: 80%;
    // border: 1px solid black;
    margin: 1em auto;
    p{
        text-align: center;
    }
}
.portada{
    width: 500px;
    position: relative;
    overflow: hidden;
    padding: 10px;
}
.portada:hover .hover{
    transform: translate(0) rotate(0);
    
}
.portada img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.separ{
    margin-bottom: 20px;
}
.hover{
    position: absolute;
    /* background: rgba(255, 234, 167, 0.705); */
    background: rgba(237, 228, 255, 0.74);
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px 10px;
    transform: translate(100%, -100%) rotate(180deg);
    transition: transform 1s;
}

.fleximg{
    display: flex;
}

.actualite{
    height: 50px;
    background-color: $color-jaune;
    display: flex;
    align-items: center;
    border-radius: 10px;
    
    .boton-plus, p{
        margin-left: 10px;
        vertical-align: middle;
        // font-size: 10px; pour mobile
        
    }
   
}

.information {
    width: 50%;
    height: 250px;
    border-radius: 10px;
    margin: 2rem auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    ul {
        list-style-type: none;
        text-align: center;
        margin: auto;
    }
    ul li {
        padding: 20px;
    }
}
