@import "./variables.scss";

.container{
    width: 80%;
    // border: 1px solid black;
    margin: 1em auto;
    p{
        text-align: center;
    }
}
.portada{
    width: 500px;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.portada img{
    width: 100%;
    height: 100%;
}
.separ{
    margin-bottom: 20px;
}

.fleximg{
    display: flex;
}

.actualite{
    height: fit-content;
    background-color: $color-jaune;
    padding: .4rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    .boton-plus, p{
        margin-left: 10px;
        vertical-align: middle;
        align-self: center;
        // font-size: 10px; pour mobile
        
    }
   
}

.information {
    width: 50%;
    height: 250px;
    border-radius: 10px;
    margin: 2rem auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    ul {
        list-style-type: none;
        text-align: center;
        margin: auto;
    }
    ul li {
        padding: 20px;
    }
}
