@import "./variables.scss";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3em;
            form  {
                width: 40%;
            }


}